<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史浏览</title>
    <style>
        #group{
            width:100%;
            height:100%;
            background-image: url("/static/backgroup.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body id="group">
<div align="center"><h3 class="common_title2">最近浏览</h3>
<a href="{% url 'personal' %}">个人中心</a></div>
<div class="has_view_list">
    <table align="center" border="1px" bordercolor="#ffffff">
        <tr align="center">
        <td>图片</td>
        <td>商品编号</td>
        <td>商品名称</td>
        <td>商品价格</td>

        {% for goods in goods_li %}
            {% csrf_token %}
        <tr align="center">
            <td> <img src='/static/{{ goods.0.a6 }}' alt="该商品暂无头像" height="50px" width="50px" ></td>
            <td>{{ goods.0.a0 }}</td>
            <td><a href="/store_app/goods_date/{{ goods.0.a0 }}">{{ goods.0.a1  }}</a></td>
            <td>{{ goods.0.a3 }}元/{{ goods.0.a5 }}</td>

{#            <td><a href="/store_app/order_delete/{{ key }}">删除</a></td>#}
        </tr><br>

        {% empty %}
            无历史浏览记录

        {% endfor %}
    </tr>
    </table>
</div>

</body>
</html>